:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --bg-color: #F1F4F8;
}

* {
    box-sizing: inherit;
}

@font-face {
    font-family: "font primary";
    src: url("/assets/font/HKGroteskPro-Medium.woff2");
}

@font-face {
    font-family: "font secondary";
    src: url("/assets/font/HKGroteskPro-Regular.woff2");
}




html {
    /*HACK*/
    font-size: 62.5%;
    /* font-size: 100%; */
    line-height: 1.8rem;
    font-family: 'font secondary', sans-serif;
    box-sizing: border-box;
    /* padding: 0% 0%; */
}

body {
    margin: 0;
}

.grid {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media (min-width: 991px) {
    .container {
        padding: 0 5%
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0 7%
    }
}

@media (max-width: 450px) {
    .container {
        padding: 0 5%
    }
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.bg-gradient-light-white {
    border-top: 1px solid rgb(207, 204, 204);
    background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
}

/* ANIMATION */

@keyframes fade-bottom {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* BUTTON */
.btn-primary {
    background-color: #335eea;
    font-size: 1.8rem;
    box-shadow: 0 0;
    color: var(--white-color);
    border-radius: 5px;
    box-sizing: inherit;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
}

.font-title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--black-color);
}

.font-body {
    color: #9b9b9b;
    font-size: 1.9rem;
    line-height: 3rem;
    font-weight: 300;
    padding-top: 5px;
}


.btn-link:hover {
    transform: translateY(-5px);
}

.color-blue {
    color: #335eea;
}

.circle-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #335eea;
    color: var(--white-color);
    border: none;
    box-shadow: 1px 1px 1rem 1px #999;
}

.bg-shape-color {
    background-color: var(--bg-color);
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.next-slide.active {
    animation: fade-left ease .5s;
}

.pre-slide.active {
    animation: fade-right ease .5s;
}

.slideFade.active {
    animation: fade ease .5s;
}


.reveal.reveal-left.active {
    animation: slide-in-left ease 1s;
    opacity: 1;
}


.reveal.reveal-right.active {
    animation: slide-in-right ease 1s;
    opacity: 1;
}

.reveal.reveal-bottom1s.active {
    animation: fade-bottom ease 1s;
    opacity: 1;
}

.reveal.reveal-bottom1-5s.active {
    animation: fade-bottom ease 1.5s;
    opacity: 1;
}

.move-left.active {
    animation: fade-in-right;
    opacity: 1;
}