/* tablet */
@media only screen and (max-width: 991px) {

    .header__content-center {
        display: none;
    }

    .header__content-right {
        display: none;
    }

    .header__content-right-tablet {
        display: block;
    }

    /* banner */

    .banner__des {
        margin-top: 0;
        margin-bottom: 0;
    }

    .banner__title {
        font-size: 3rem;
        font-weight: 250;
    }

    .card-des__contain {
        margin-top: 10px;
    }

    .font-title {
        font-size: 2.4rem;
    }

    .font-des {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .font-title-small {
        font-size: 1.9rem;
        line-height: 2rem;
    }

    .font-body__des {
        font-size: 1.9rem;
        line-height: 3rem;
    }

    /* ******** */
    .card-list__content-left {
        padding-top: 0px;
    }

    .card-list__content-right {
        padding-top: 0px;
    }

    .card-des__contain {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .card-des__title {
        font-size: 2.4rem;
    }

    .card-des__body {
        font-size: 1.9rem;
    }

    .content-top__title,
    .content-top__body {
        padding: 0 2rem;
    }

    .price-card__content-right {
        padding: 1rem;
    }

    .content-right__offer {
        margin: 9rem 0;
    }

    .content-left__money {
        font-size: 5rem;
    }

    .content-left__time {
        font-size: 3rem;
    }

    .content-left__benefit-des {
        font-size: 1.4rem;
    }

    .service__title {
        margin-bottom: 0;
    }

    .service__list {
        margin-top: 0;
    }

    .brand__item {
        min-width: 1rem;
    }

    .brand__item-img {
        min-width: 1rem;
    }

    .footer-left {
        flex-direction: column;
    }

    .social-icon {
        font-size: 3.5rem;
    }
}


@media (max-width: 768px) {
    .card-list__content-right {
        margin-left: 0px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner__title,
    .banner__des {
        text-align: center;
    }

    .banner__btn {
        justify-content: center;
    }

    .card-info {
        flex-direction: column;
    }

    .brand__item {
        min-width: 33.3%;
    }

    .brand__item-img {
        min-width: 33.33% !important;

    }

    .card-list__content-left {
        padding: 1rem 2rem;
    }

    .btn-pre {
        margin-left: -0.5rem;
        bottom: 20%;
    }

    .btn-next {
        margin-right: -0.5rem;
        bottom: 20%;
    }

    .card-list {
        flex-direction: column-reverse;
    }

    .card-list.two {
        flex-direction: column;
    }

    .content-bg-dashboarh-img {
        position: relative;
    }

    .img-dashboard {
        max-width: 100%;
    }

    .content-top__title,
    .content-top__body {
        padding: 0px 40px;
        text-align: center;
    }

    .sidebar {
        flex-direction: column;
    }

    .sibar_img {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .content-top__title,
    .content-top__body {
        padding: 0 1rem;
    }

    .card-des__title {
        font-size: 2.4rem;
    }

    .card-des__body {
        font-size: 1.9rem;
    }

    .business {
        flex-direction: column-reverse;
    }

    .card-input__card-left {
        margin: 2rem;
    }

    .product-type {
        padding: 0 2rem
    }

    .price-card {
        flex-direction: column;
    }

    .price-card__right,
    .price-card__left {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    .content-left__benefit-des {
        font-size: 1.6rem;
    }

    .content-right__offer {
        margin: 5rem 0;
    }


    .question {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        padding: 10rem 5rem;
    }

    .social-landkit {
        margin-bottom: 3rem;
    }

    .total-service {
        justify-content: space-between;
    }

    .footer {
        padding-top: 2rem;
    }

    .social-icon {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 450px) {

    /* .container {
        padding: 0 0.5rem;
    } */
    .socical-icon {
        font-size: 1rem;
    }

    .banner__btn {
        flex-direction: column;
        align-items: center;
    }

    .card-des__title {
        font-size: 2.4rem;
    }

    .card-input__card-left {
        margin: 1rem;
    }

    .card-des__list-contain {
        flex-direction: column;
    }

    .total-service {
        flex-direction: column;
    }

    .brand__item {
        min-width: 50%;
    }

    .brand__item-img {
        max-width: 100% !important
    }

    .footer-left {
        flex-direction: row;
    }
}