body {
    font-size: 1.6rem;
}

.container__table {
    margin-top: 10rem;
    background-color: #fff;
    padding: 1.5em;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 30%);
    border-radius: 1rem;

}

.table-tool {
    display: flex;
    justify-content: space-between;
}

.length__lb {
    font-size: 1.7rem;
}

.length__select {
    font-size: 1.7rem;
    margin: 0 .5rem;
}

.filter__lb {
    font-size: 1.7rem;
}

.filter__input {
    font-size: 1.7rem;
    margin-left: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.sorting {
    position: relative;
    cursor: pointer;
}

.sorting.sorting-asc::before {
    content: "▲";
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 1rem;
    opacity: 1;
}

.sorting::before {
    content: "▲";
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 1rem;
    opacity: 0.3;
}

.sorting.sorting-desc::after {
    content: "▼";
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 1rem;
    opacity: 1;
}

.sorting::after {
    content: "▼";
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 1rem;
    opacity: 0.3;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #e7e1e1;
}



/* .row td:first-child {
    text-align: center;
    cursor: pointer;
}

.row td:first-child::before {
    content: "+";
    display: block;
    position: absolute;
    background-color: #31b131;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    color: #fff;
} */

.have-child::before {
    content: "-";
}


.row td:last-child {
    display: none;
}

/* btn-pagination */
.pagination {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    align-items: center;
}

.pagination__page-number {
    display: flex;
}

.pagination__page-number>button {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border: none;
}

.pagination__page-number>button.selected {
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    color: #333 !important;
    border: 1px solid rgba(0, 0, 0, .3);
}


.btn-pagination {
    height: 100%;
    width: fit-content;
    padding: 1rem;
    background-color: #fff;
    border: none;
    font-size: 1.7rem;
    position: relative;
    z-index: 99;
}

.btn-hover:hover {
    color: #fff;
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    border: 1px solid #111;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.info {
    display: flex;
    align-self: center;
    font-size: 1.7rem;
}